@import 'colors';

.gridjs {
  &-tr {
    border: none;

    &-selected td {
      background-color: $blue2;
    }
  }

  &-tr:last-child td {
    border-bottom: 0;
  }
}
.gridjs-is_deleted {
  text-decoration: line-through !important;
  color: red !important;
  text-decoration-color: red !important;
}
